<div class="accordion">
  <button class="accordion-header text-left" data-accordion>
    <span>@@title</span>
    <div class="accordion-icon w-[.8em] h-[.8em] relative">
      <div
        class="w-[2px] h-full absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-white opacity-100 accordion-icon-active"
      ></div>
      <div
        class="w-[2px] h-full absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-white rotate-90"
      ></div>
    </div>
  </button>
  <div class="accordion-content">
    <p>@@accordion_content</p>
  </div>
</div>
