<article
  class="shadow-inset shadow-shadow/50 hover:shadow-shadow hover:bg-theme-light/10 transition-all duration-500 rounded-4xl p-8 lg:p-10"
>
  <div class="flex flex-col justify-between gap-8 h-full">
    <div>
      <img
        src="@@imgSrc"
        alt="sisyphus logo"
        width="180"
        height="44"
        class="mb-12"
      />
      <h4 class="mb-2">@@title</h4>
      <p class="mb-6">@@subtitle</p>
      <p>@@desc</p>
    </div>
    <!--prettier-ignore-->
    @@include('components/arrow-btn.html', { "href": "case-single.html", "title": "Read Full Case Study" })
  </div>
</article>
