<div
  class="shadow-inset shadow-shadow/50 hover:shadow-shadow transition-shadow duration-500 border border-border rounded-4xl p-8 flex flex-col h-full"
>
  <div class="pb-5 border-b-[2px] border-border/60 mb-5">
    <p class="font-medium text-lg text-white">@@plan</p>
    <p class="text-sm font-light">@@audience</p>
  </div>
  <div class="flex flex-col justify-between flex-grow gap-y-10 items-start">
    <div class="flex flex-col gap-y-10 items-start">
      <div>
        <h3 class="mb-1">@@price</h3>
        <p class="text-sm font-light">per person, per month</p>
      </div>
      <ul class="text-sm font-light green-tick-list">
        <li>@@park_1</li>
        <li>@@park_2</li>
        <li>@@park_3</li>
        <li>@@park_4</li>
        <li>@@park_5</li>
      </ul>
    </div>
    <a class="btn btn-primary rounded-full mt-auto" href="#"
      >Get Started Free</a
    >
  </div>
</div>
