<div class="px-5 rounded-4xl pt-10">
  <div class="flex flex-col items-center mb-5">
    <h2 class="text-lg text-white font-medium mb-2">@@title</h2>
    <p class="text-sm font-light mb-6">@@subtitle</p>
    <div class="flex items-center gap-x-4 h-auto mb-4">
      <span class="text-h5 font-normal text-white">$</span>
      <h2 class="text-h2 xl:text-h">@@price</h2>
    </div>
    <p class="text-sm font-light">@@type</p>
  </div>

  <p class="text-h5 text-white font-medium">Main Features</p>
  <ul class="w-full">
    <li
      class="flex items item-center justify-between py-5 border-b border-white/20"
    >
      <span class="font-medium"> @@perk_1 </span>
      <img data-src="images/icons/green_tick.svg" class="self-center" />
    </li>
    <li
      class="flex items item-center justify-between py-5 border-b border-white/20"
    >
      <span class="font-medium"> @@perk_2 </span>
      <img data-src="images/icons/green_tick.svg" class="self-center" />
    </li>
    <li
      class="flex items item-center justify-between py-5 border-b border-white/20"
    >
      <span class="font-medium"> @@perk_3 </span>
      <img data-src="images/icons/green_tick.svg" class="self-center" />
    </li>
    <li
      class="flex items item-center justify-between py-5 border-b border-white/20"
    >
      <span class="font-medium"> @@perk_4 </span>
      <img data-src="images/icons/green_tick.svg" class="self-center" />
    </li>
    <li
      class="flex items item-center justify-between py-5 border-b border-white/20"
    >
      <span class="font-medium"> @@perk_5 </span>
      <img data-src="images/icons/green_tick.svg" class="self-center" />
    </li>
  </ul>
  <div class="py-10">
    <a
      href="@@actionHref"
      class="btn w-full text-center bg-theme-light border border-theme-light hover:btn-primary"
    >
      Choose Plan
    </a>
  </div>
</div>
