<div
  class="shadow-inset border border-border shadow-shadow/70 p-10 rounded-4xl"
>
  <div class="flex flex-col gap-y-4 max-w-[350px] mx-auto">
    <img src="@@imageSrc" alt="@imageAlt" class="w-full" loading="lazy" />
    <div class="p-4 rounded-2xl bg-theme-light w-full">
      <div class="flex items-center gap-x-5 mb-1">
        <h3>@@percentage</h3>
        <div class="flex items-center gap-x-1">
          <img
            data-src="images/icons/growth-upwords.svg"
            loading="lazy"
            alt="growth icon"
            class="text-primary"
          />
          <span class="text-white">@@growthRate</span>
        </div>
      </div>
      <p>@@desc</p>
    </div>
  </div>
</div>
