<a
  class="group/arrowBtn flex items-center max-w-max gap-1 text-white"
  href="@@href"
>
  <span class="font-medium">@@title</span>
  <div class="relative w-5 h-5 grid place-items-center overflow-hidden">
    <i
      class="fa fa-chevron-right group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-5 h-5 grid place-items-center"
    ></i>
    <i
      class="fa fa-chevron-right absolute top-0 right-full group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-5 h-5 grid place-items-center"
    ></i>
  </div>
</a>
