<div
  class="shadow-inset shadow-shadow/50 border border-border rounded-4xl py-4 flex flex-col justify-between"
>
  <div class="py-10 px-6">
    <blockquote class="text-white/80 leading-[1.813rem] bq">@@quote</blockquote>
  </div>
  <div class="p-6 border-t border-border/60">
    <div class="flex justify-between items-center">
      <div>
        <p class="text-white font-medium">@@name</p>
        <p class="text-sm font-light text-white/60">@@position</p>
      </div>
      <img
        src="@@image"
        alt="@@name"
        loading="lazy"
        class="rounded-2xl w-16 h-16"
      />
    </div>
  </div>
</div>
