@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.text2 {
    clear: left;
    color: #cfe6ff;
    font-family: VT323, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}
