<!-- Call to actions -->
<section class="section">
  <div class="container">
    <div
      class="border border-border bg-theme-light/60 rounded-3xl sm:rounded-4xl overflow-hidden relative"
    >
      <div class="grid sm:grid-cols-12">
        <div
          class="px-5 sm:px-12 pr-12 py-7 sm:py-14 relative z-30 sm:col-span-7"
        >
          <div class="section-intro pb-0">
            <h2 class="title">Ready to Transform Your Trading Experience?</h2>
            <p class="subtitle mb-10">
              Everythings will be reveal soon.
            </p>
            <!--prettier-ignore-->
            @@include("components/primary-arrow-btn.html",{href:"contact.html","title":"Get in touch"})
          </div>
        </div>

        <div class="relative h-[200px] sm:h-0 sm:col-span-5 z-20">
          <div
            class="absolute left-10 top-10 sm:left-0 sm:top-20 z-20 rounded-3xl border border-white/15 p-4"
          >
            <img
              src="images/desktop-interface.png"
              loading="lazy"
              class="sm:min-w-[700px] min-w-[500px] rounded-2xl overflow-hidden"
              alt="Dashboard Image"
              draggable="false"
            />
          </div>
        </div>
      </div>

      <!--shapes-->
      <img
        src="images/shapes/card_bg_blob.webp"
        loading="lazy"
        alt=""
        draggable="false"
        data-aos="fade-in"
        data-aos-duration="1600"
        data-aos-easing="ease-out"
        class="absolute right-0 bottom-10 w-full max-w-[700px] z-10 opacity-80"
      />
    </div>
  </div>
</section>
