<head>
  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" sizes="any" />
  <link rel="shortcut icon" href="images/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
  <link rel="manifest" href="images/manifest.webmanifest" />
  <!-- theme meta -->
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="theme-color" content="#000" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- responsive meta -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5"
  />

  <!-- title -->
  <title>MercurX</title>

  <!-- noindex robots -->
  <meta name="robots" content="@@robots" />

  <!-- meta-description -->
  <meta name="description" content="@@pageDescription" />

  <!-- author from config.json -->
  <meta name="author" content="MercurX" />

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="MercurX" />
  <meta property="og:title" content="MercurX" />
  <meta property="og:description" content="@@pageDescription" />
  <meta property="og:url" content="@@pageUrl" />
  <meta property="og:image" content="images/logo.svg" />
  <meta property="og:locale" content="en_US" />

   <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="MercurX" />
  <meta name="twitter:description" content="@@pageDescription" />
  <meta name="twitter:image" content="images/logo.svg" />

  <!-- google font css -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=<%= fontPrimary %>&display=swap&font-display=swap"
    rel="stylesheet"
  />

  <!-- styles -->

  <!--AOS-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
  />

  <!-- Swiper slider -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
  />

  <!-- Fontawesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  />

  <!-- Main Stylesheet -->
  <link href="styles/main.css" rel="stylesheet" />
</head>
