<header class="header z-30">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <a class="navbar-brand block" href="index.html">
        <img src="images/logo.svg" class="h-[50px]" height="50" width="175" loading="eager" alt="logo" />
      </a>
    </div>

    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" title="nav-toggle" />
    <label for="nav-toggle" class="order-3 cursor-pointer flex items-center lg:hidden text-white/70 lg:order-1">
      <div class="space-y-3 w-6 -translate-y-[20%]" id="show-button">
        <title class="hidden">Menu Open</title>
        <div class="w-full h-[2px] bg-text transition-transform" id="ham_top"></div>
        <div class="w-full h-[2px] bg-text transition-transform" id="ham_bottom"></div>
      </div>
    </label>
    <!-- /navbar toggler -->
    <ul id="nav-menu"
      class="navbar-nav shadow-inset shadow-shadow/30 lg:shadow-none order-3 hidden lg:order-1 lg:flex items-center lg:w-auto lg:space-x-2 lg:pb-0">
      <li class="nav-item nav-dropdown group relative" id="all-pages">
      </li>
      <li class="nav-item">
        <a href="index.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="index.html#about-us" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
        <a href="contact.html" class="nav-link">Contact Us</a>
      </li>

      <li class="inline-block lg:hidden mt-4 lg:mt-0">
        <a class="btn btn-secondary" href="contact.html"> Get Started </a>
      </li>
    </ul>
    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      <a class="btn btn-secondary hidden lg:inline-block" href="contact.html">
        Get Started
      </a>
    </div>
  </nav>
</header>